@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0px;
    font-family: 'Poppins', sans-serif;

}


.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.containers{
    padding: 2rem;
    margin-top: 3rem;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.4);
}




.title-container{
    text-align: center;
    margin-top: 2rem;
}

.car-container{
    display: flex;
    margin-top: 5rem;
    width: 100%;
    gap: 5%;
    flex-wrap: wrap;
}

.car-content{
    width: 300px;
    border-radius: 8px;
    margin-top: 1rem;
    text-align: center;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 1s;
    box-shadow: 1px 1px 25px black;
    
}

.car-content:hover{
    transform: scale(1.05   );
}

.img-car-content{
    width: 300px;
}
.icon-div{
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    justify-content: space-between;
}
.icon-div img{
    width: 35px;
}

.button-icons{
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button_new_car{
    padding: 1rem;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(15, 179, 15);
    color: white;
    transition: all 1s;
    cursor: pointer;
}

.button_new_car:hover{
    background-color: rgb(9, 136, 9);;
}

.title_carlist{
    font-size: 24px;
    font-weight: 800;
}



.header-menu{
    padding: 2rem 7rem;
    height: 50px;
    padding-bottom: 1rem;
    background-color: rgba(47, 0, 255, 0.4);
}

.header-menu a.logo{
    font-size: 2rem;
    font-weight: bold;
}

.logo-color{
    color: rgb(0, 0, 255);
}

.menu-options{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.3s;
}

.menu-options:hover{
    color: white;
}

.ativo{
    color :white;
}



.header-right{
    float: right;
}

@media screen and (max-width: 870px) {
    .header-menu a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
        color: black;
    }

    .title{
        opacity: 0;
    }


  }


.category_title{
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.span_placeholder{
    font-size: 12px;
    color: rgb(177, 177, 177);
}


.alugar_btn{
    cursor: pointer;
    background-color: rgb(149, 149, 255);
    border-radius: 5px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    transition: all 1s;
}
.alugar_btn:hover{
    background-color: rgb(177, 177, 255);
}

.categorySelect{
    padding: 5px;
    border-radius: 5px;
}
.categorySelect:focus{
    outline: none;
}

.filter-button{
    padding: 5px;
    border-radius: 5px;
    border-style: none;
    transition: all 1s;
}

.filter-button:hover{
    background-color: rgb(205, 205, 255);
}

