@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    

    
}



.main{
    background-image: url(../img/background\ bmw.webp);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 15%;
    
}

.header-menu{
    padding: 2rem 7rem;
    background-color: rgba(255, 255, 255, 0.5);
}

.header-menu a.logo{
    font-size: 2rem;
    font-weight: bold;
}

.logo-color{
    color: rgb(149, 149, 255);
}

.menu-options{
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.3s;
}

.menu-options:hover{
    color: rgb(149, 149, 255);
}

.ativo{
    color :rgb(149, 149, 255)
}



.header-right{
    display: flex;
    align-items: center;
    float: right;
    flex-wrap: wrap;
}

@media screen and (max-width: 870px) {
    .header-menu a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }

    .header-menu{
        background-color: rgba(255, 255, 255, 0.5);
    }

    .label{
        font-size: 6px;
    }
  }

  @media screen and (max-width: 1250px) {
    .container-dates{
        flex-direction: column;
    }

    .date-left{
        width: 100%;
    }
    .date-right{
        width: 100%;
    }
    

  }


.middle-content{
    color: white;
    text-align: center;
}

.container-form-info{
    display: flex;
    height: 600px;

}

.form-container{
    background-color: rgb(74, 74, 255);
    gap: 2%;
    border-radius: 7px;
    padding: 2rem;
    height: 90%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    width: 25%;
}

.form-container input{
    margin-bottom: 5px;
    background-color: rgb(116, 116, 255);
    padding: 10px;
    border-style: solid;
    border-color: rgb(129, 129, 247);
    outline: none;
}


.form-container a{
    width: 100%;
    color: red;
    
}


.form-container h2{
    color: white;
}

.label{
    color: white;
}

input::placeholder{
    color: rgb(34, 34, 34);
}

.container-dates{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.date-input{
    width: 85%;
}


.btn-alugar{
    background-color: rgb(15, 179, 15);
    font-size: 18px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
}

.info-container{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 5%;
}

.cars-container{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    justify-content: space-between;
    margin: 5%;
    text-align: center;
}

.cars-container img{
    width: 400px;
}

.car-content{
    background-color: white;
}
.car-content:hover{
    transform: scale(1.05);
    transition: all 1s;
}
.car-content a{
    text-decoration: none;
}

.diary-price{
    color: gray;
}

.rent-car{
    background-color: rgb(116, 116, 255);
}

.rent-car h3{
    color: white;
}


.new_car_button{
    background-color: green;
    border-radius: 5px;
    border-style: none;
    padding: 0.5rem;
    color: white;
    transition: all 1s;
    cursor: pointer;
}

.new_car_button:hover{
    background-color: rgb(0, 80, 0);
}